<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Parking Connecté{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>🅿️</text></svg>">
        
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

        {% set frankenphpHotReload = app.request.server.get('FRANKENPHP_HOT_RELOAD') %}
        {% if frankenphpHotReload %}
        <meta name="frankenphp-hot-reload:url" content="{{ frankenphpHotReload }}">
        <script src="https://cdn.jsdelivr.net/npm/idiomorph"></script>
        <script src="https://cdn.jsdelivr.net/npm/frankenphp-hot-reload/+esm" type="module"></script>
        {% endif %}
    </head>
    <body>
        <nav class="navbar">
            <a href="{{ path('app_home') }}" class="logo">
                Park<span>Connect</span>
            </a>
            <div class="nav-links">
                <a href="{{ path('app_dashboard') }}">Dashboard</a>
                {% if app.user %}
                    <a href="{{ path('app_reservation_new') }}" style="color: var(--primary);">Réserver une place</a>
                    <a href="{{ path('app_profile') }}">Profil ({{ app.user.firstName }})</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('admin_dashboard') }}" style="color: #ef4444;">Admin</a>
                    {% endif %}
                    <a href="{{ path('app_logout') }}">Déconnexion</a>
                {% else %}
                    <a href="{{ path('app_login') }}">Connexion</a>
                {% endif %}
            </div>
        </nav>

        <main class="container">
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
